
body {
    margin: 0;
    cursor: pointer;
}

/* Navbar */
.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Nueva línea para alinear verticalmente los elementos */
    background-color: rgba(255, 255, 0, 0.695);
    padding: 10px 20px; /* Espaciado interno */
}

.navbar-logo {
    color: rgb(16, 15, 15);
    font-size: 24px;
    cursor: pointer;
}

.ver-carrito {
    font-size: 18px;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.ver-carrito:hover {
    opacity: 0.7;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 100vh; /* Reducir la altura del banner */
    background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.305)), url("/foto\ doña\ oliva.jpg");
}
.titulo-2 {
    display: flex;
    justify-content: center; /* Centra horizontalmente el título */
    font-size: 30px; /* Ajusta el tamaño del título */
    color: rgb(247, 240, 255);
    background-color: rgba(0, 0, 0, 0.499);
    
}
.slogan{
    background-color: black;
    padding: 9px;
    border-radius: 2%;
    font-size: 30px;
}
.slogan_1 {
    display: flex;
    justify-content:center; 
    margin: 30px;
    color: bisque;



   
}

/* Estilo de los productos */
.cartitas-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition: all 0.3s ease;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card button {
    width: 100%;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.793);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0 0 12px 12px;
    cursor: pointer;
}

/* Estilo del modal */
.modal {
    width: 60%;
    max-height: 60vh;
    background-color: #131313b1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 10vh;
    left: 10%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scrollbar-width: none;
    color: aliceblue;
    border-top-right-radius: 20px;
    cursor: pointer;
    
}

.modal-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }


.modal::-webkit-scrollbar {
    display: none;
   
}

.total-content {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.unidades-carrito {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 50%;
    font-size: 14px;
}

.footer-1{
    
    background-color: rgba(255, 255, 0, 0.695);
    padding: 20px 30px; /* Espaciado interno */

}
.footer-logan{
    
    padding: 9px;
    font-size: 20px;
    display: flex;
    justify-content:center;

}

.footer-parrafo{
    padding: 9px;
    font-size: 20px;
    color: rgb(16, 15, 15);
    display: flex;
    justify-content:center;
 
}

